.row{
  color: white;
}
.box{
  height: 40px;
  background-color: #006cfa;
  border: 1px solid white;
  line-height: 40px;
}
.box-big{
  height: 80px;
  background-color: #006cfa;
  border: 1px solid white;
  line-height: 40px;
}
.green{
  background-color: #01e165;
  border:1px solid #006cfa;
}
.special{
  padding: 10px;
  background-color: #006cfa;
  border: 1px solid white;
  margin-bottom: 25px;
}
.border{
  border-bottom: 2px solid black;
  padding-bottom:  5px;
}
h2{
  padding-top: 2rem;
}
.text-align-center{
  text-align: center;
}